<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="javataskfactory"
         point="de.hub.mse.ttc2020.benchmark.concretetaskfactory">
      <task_factory
            concrete_task_factory="de.hub.mse.ttc2020.solution.JavaTaskFactory">
      </task_factory>
   </extension>

</plugin>
